/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
/* @import "tailwindcss"; */
/* @tailwind utilities; */
@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pixelify+Sans:wght@400..700&family=Rubik+Glitch&family=Vazirmatn:wght@100..900&display=swap'); */
html {
  font-family: var(--font-pixelify-regular);
  /* ❌ این خط باید حذف یا کامنت شود تا bg-red-500 اعمال شود */
  /* background: #000; */
  color: var(--foreground);
}

body {
  background-color: blueviolet;
  margin: 0;
  padding: 0;
}
