/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
/* @impoert 'tailwindcss';
@tailwind utilities; */
@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pixelify+Sans:wght@400..700&family=Rubik+Glitch&family=Vazirmatn:wght@100..900&display=swap'); */

:root {
  --background: #0e0b0b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pixelify-regular);
  --font-mono: var(--font-pixelify-regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #215c3b;
    --foreground: #e632aa;
  }
}

.pixelify-sans-regular {
  font-family: var(--font-pixelify-regular);
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

html {
  font-family: var(--font-pixelify-regular);
  /* background: var(--background); */
  background: #000;
  color: var(--foreground);
}
